# Entorno Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Efemérides JPL (archivos muy grandes, se descargan automáticamente)
*.bsp

# LaTeX
*.tex
*.log
*.aux
*.out
*.toc
*.synctex.gz

# PDF — solo se permite en paper/
*.pdf
!paper/*.pdf

# OS
.DS_Store
Thumbs.db
desktop.ini